.contacts {

}

.contacts__info {
  padding: 26px 20px 26px 20px;
  display: flex;
}

.contacts__welcome {
  font-size: 16px;
line-height: 20px;
text-transform: uppercase;
}

.contacts__address {
  font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
color: $darkgray;
}

